//font-family 
.ff-robot{
    font-family: "Roboto", sans-serif;
}
.ff-noteSans{
    font-family: "Noto Sans TC", sans-serif;
}
// font-size
.fs-1{
    font-size: 20px;
}
.fs-2{
    font-size: 24px;
}
.fs-3{
    font-size: 32px;
}
.fs-4{
    font-size: 80px;
}
// font-weight
.fw-1{
    font-weight: 300;
}
.fw-2{
    font-weight: 400;
}
.fw-3{
    font-weight: 500;
}
// line-height
.lh-1{
    line-height: 32px;
}
// text-align
.text-center{
    text-align: center;
}
// text-decoration
.td-none{
    text-decoration: none;
}
// color
.text-red{
    color: #A00404;
}
.text-white{
    color: #FFFFFF;
}
// background-color
.bg-blue{
    background: #415165;
}
// border
.bs-1{
    border-left: 1px solid black;
}
.bs-white{
    border-left: 1px solid #ffffff;
}
.bs-gray{
    border-left: 1px solid #96A9C4;
}
.bb-1{
    border-bottom: 1px solid black;
}
.bb-2{
    border-bottom: 2px solid black;
}
.bb-white{
    border-bottom: 1px solid #ffffff;
}
// padding
.ps-1{
    padding-left: 24px;
}
.pt-1{
    padding-top: 24px;
}
.pb-1{
    padding-bottom: 8px;
}
.pb-2{
    padding-bottom: 24px;
}
// margin
.mx-auto{
    margin: 0px auto;
}
.my-1{
    margin: 48px 0px;
}
.my-2{
    margin: 8px auto;
}
.mt-1{
    margin-top: 24px;
}
.ms-1{
    margin-left: 24px;
}
.ms-2{
    margin-left: 8px;
}
.mt-2{
    margin-top: 37px;
}
.mt-3{
    margin-top: 16px;
}
.mt-4{
    margin-top: 72px;
}
.mt-5{
    margin-top: 32px;
}
.mb-1{
    margin-bottom: 16px;
}
.mb-2{
    margin-bottom: 24px;
}
.mb-3{
    margin-bottom: 72px;
}
.mb-4{
    margin-bottom: 36px;
}
.ms-1{
    margin-left: 16px;
}
.ms-2{
    margin-left: 24px;
}
// display
.d-f{
    display: flex;
}
.d-b{
    display: block;
}
// align-items
.align-items-center{
    align-items: center;
}
// justify-content
.justify-content-center{
    justify-content: center;
}
// width
.w-1{
    width: 324px;
}
.w-2{
    width: 90px;
}
.w-3{
    width: 667px;
}
// height
.h-1{
    height: 324px;
}
.h-2{
    height: 90px;
}